extends layout
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key="+GOOGLE_KEY+"&libraries=places&sensor=false")
  script(src="/javascripts/map.js")

block content
  body.preview
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='../') Insider Opinion
              #main-menu.nav-collapse.collapse
                ul#main-menu-left.nav
                  li
                    a About
                  li
                    a News
                  li
                    a Contact
                ul#main-menu-right.nav.pull-right
                  li
                    a(rel='tooltip', target='_blank', href='http://builtwithbootstrap.com/', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'builtwithbootstrap\']);', data-original-title='Showcase of Bootstrap sites & apps')
                      | Built With Bootstrap
                      i.icon-share-alt
                  li
                    a(rel='tooltip', target='_blank', href='https://wrapbootstrap.com/?ref=bsw', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'wrapbootstrap\']);', data-original-title='Marketplace for premium Bootstrap templates')
                      | WrapBootstrap
                      i.icon-share-alt
    div.container
      header.jumbotron.subhead(style="margin-top: 20px; margin-bottom: 30px")
        div.row
          div.span6
            h1 Insider Opinion.
            p.lead Your place for getting the inside scoop on wherever you  go.
          div.span6
            p
      div.content
        div.row
          div.span5
            div.well
              div#map-canvas
              form(method='post',action='',id='newlist')
                div
                  | Location (e.g. San Francisco):
                  input(name='location',id='location')
                br
                button#submit
                  | Get Recommendations!
          div.span7
            div.well#venues
              include trending.jade
