extends layout
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key="+GOOGLE_KEY+"&libraries=places&sensor=false")
  script(src="/javascripts/map.js")

block content
  body.preview
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.brand(style="margin-left: -148px") Insider Opinion
                //- ul#main-menu-right.nav.pull-right
                  li
                    a(rel='tooltip', target='_blank', href='http://builtwithbootstrap.com/', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'builtwithbootstrap\']);', data-original-title='Showcase of Bootstrap sites & apps')
                      | Built With Bootstrap
                      i.icon-share-alt
                  li
                    a(rel='tooltip', target='_blank', href='https://wrapbootstrap.com/?ref=bsw', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'wrapbootstrap\']);', data-original-title='Marketplace for premium Bootstrap templates')
                      | WrapBootstrap
                      i.icon-share-alt
    div.container(style="width: 1200px")
      header.jumbotron.subhead(style="margin-top: 70px; margin-bottom: 10px")
        div.row
          div.span10
            h1 Insider Opinion.
            p.lead Your place for getting the inside scoop on wherever you  go.
          div.span2
            p
      div.content
        div.row
          div.span5(style="width: 600px; height: 500px")
            div.well(style="max-height: 500px")
              div
                | Location (e.g. San Francisco): &nbsp
                input(name='location',id='location', style="width: 175px")
                &nbsp
                button#submit(style="float:right")
                  | Get Recommendations!
              br
              div#map-canvas
              form(method='post',action='',id='newlist')
                br

          div.span7
            div.well#venues
              include trending.jade
