doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
      <script src="/javascripts/twitter.js" ></script>
  body
    block content