extends layout

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key="+GOOGLE_KEY+"&libraries=places&sensor=false")
  script(src="/javascripts/map.js")
  link(rel='stylesheet', href='/stylesheets/map.css')

block content
  h1= title
  p Welcome to #{title}
  div#map-canvas
  form(method='post',action='',id='newlist')
    div
        | Location (e.g. San Francisco):
        input(name='location',id='location')
    br
    button#submit
        | Get Recommendations!