h3 Trending Venues <a style="font-size: small; margin-left: 20px" id="trend"> back <a>
div.boxgrid.slideleft
  div.cover(style="background-color: #eee; z-index: 100; height: 100%; width: 100%; ")
    ul(id="mainList")
    table.table.table-hover
      each venue, i in trending
        tr
          td(class="getTweetsButton", data-venue="#{venue.name}", data-city="#{city}") #{venue.name} 
  div.background.relevantTweets(id="relevantTweets")